button,
.button {
	cursor: pointer;
	font-size: 16rem;
	font-weight: bold;
	text-decoration: none;
	background: var(--color-text);
	color: var(--color-background);
	padding: 0.5em;
	border: none;
	border-radius: 8rem;
}
