:root {
	/* first of all the variables related to fonts */
	--font-heading-family: "Orbitron", serif;

	--font-body-family: "Roboto Mono", serif;
	/* Page Layout */
	--page-width: 1000px;
	--section-spacing: 48rem;

	/* Dark Mode first Colors because that way we don't have a flash */
	--color-background: #111;
	--color-heading: #fff;
	--color-text: #ffffffe9;
}
