---
import Layout from "~/layouts/layout.astro";
import Card from "~/components/card.astro";
---

<Layout
	title="Plantilla Eminence de Astro para Cloudflare Pages por Xeffen25"
	description="Plantilla de Inicio de Astro para Cloudflare Pages con: PostCSS configurado, estilos, SEO integrado... Dise침ada por Xeffen25 para webs r치pidas y responsivas."
>
	<section class="hero page-width section">
		<h1 class="hero__title">
			Plantilla de
			<span class="hero__title-astro">Astro</span> para
			<span class="hero__title-cloudflare">Cloudflare Pages</span>: EMINENCE
		</h1>
		<p class="hero__subtitle">Configuraci칩n completada y optimizada para que solo tengas que programar.</p>

		<button class="hero__button">
			<code class="hero__button-code"
				>npm create cloudflare --framework=astro --template=Xeffen25/cf-pages-astro-theme-eminence</code
			>
			<span class="hero__button-icon" aria-hidden="true">游늶</span>
			<span class="hero__button-tooltip">춰Copiado!</span>
		</button>
		<a href="/comenzar-ahora/" class="hero__link button hover-scale">Comenzar ahora</a>
	</section>

	<style>
		:root {
			--astro-background: linear-gradient(80deg, #3245ff, #b845ed);
		}
		.hero {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.hero__title {
			text-align: center;
			font-size: 36rem;
		}
		.hero__title-astro {
			background: var(--astro-background);
			background-clip: text;
			color: transparent;
		}
		.hero__title-cloudflare {
			color: #f6821f;
		}
		.hero__link {
			position: relative;
			background: var(--astro-background);
			color: #fffe;
			border-radius: 999px;
			padding: 1em 2em;
			margin: 1em;
		}
		.hero__link:before {
			content: "";
			position: absolute;
			inset: 0rem;
			z-index: -1;
			background: var(--astro-background);
			filter: blur(7rem);
			border-radius: inherit;
		}
		.hero__button {
			background: #0005;
			color: #fff;
			font-weight: normal;
			transition: all 0.3s ease-in-out;
			text-align: left;
			margin: 0;
			padding: 1em 2em;
			position: relative;
		}
		.hero__button:hover {
			background: #0008;
		}
		.hero__button-tooltip {
			position: absolute;
			top: 90%;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			opacity: 0;
			font-weight: normal;
			transition: all 0.3s ease-in-out;
		}
		.hero__button:is(.open) .hero__button-tooltip {
			top: 100%;
			opacity: 1;
		}
	</style>
	<script>
		const button = document.querySelector(".hero__button");
		button?.addEventListener("click", () => {
			const code = button.querySelector(".hero__button-code")?.textContent;
			if (code) {
				navigator.clipboard.writeText(code);
				button.classList.add("open");
				setTimeout(() => {
					button.classList.remove("open");
				}, 1500);
			}
		});
	</script>
	<section class="section page-width">
		<h2>쯇or qu칠 elegir la plantilla Eminence?</h2>
		<ul>
			<Card
				heading="Inicio R치pido y F치cil"
				content="Incluye una configuraci칩n base completa, permitiendo a los desarrolladores centrarse en el c칩digo en lugar de en ajustes iniciales. Solo necesitas instalar y empezar a programar."
			/>
			<Card
				heading="Configuraci칩n de CSS Flexible"
				content="PostCSS configurado con plugins y estilos base para que puedas personalizar f치cilmente el dise침o y adaptarlo a las necesidades de tu proyecto de forma consistente."
			/>
			<Card
				heading="Componentes que todas las p치ginas necesitan"
				content="Incluye SEO y favicon listos para usar, optimizando la visibilidad y personalizaci칩n de marca desde el inicio."
			/>
			<Card
				heading="Optimizaci칩n para Cloudflare Pages"
				content="Configuraci칩n lista para aprovechar al m치ximo la infraestructura r치pida, barata y escalable de Cloudflare Pages."
			/>
			<Card
				heading="Auto-formato de C칩digo con Prettier"
				content="Prettier configurado para aplicar autoformato en cada commit, asegurando que el c칩digo est칠 siempre limpio y consistente en todo el proyecto."
			/>
		</ul>
	</section>
</Layout>
