---
import Layout from "~/layouts/layout.astro";
import Card from "~/components/card.astro";
---

<Layout
	title="Plantilla Eminence de Astro para Cloudflare Pages por Xeffen25"
	description="Plantilla de Inicio de Astro para Cloudflare Pages con: PostCSS configurado, estilos, SEO integrado... Diseñada por Xeffen25 para webs rápidas y responsivas."
>
	<section>
		<h1>Plantilla de Astro para Cloudflare Pages: <span>EMINENCE</span></h1>
		<p>Configuración completada y optimizada para que solo tengas que programar.</p>
		<a>Comenzar ahora</a>
		<button>npm create cloudflare@latest --framework=astro --template=Xeffen25/cf-pages-astro-eminece</button>
	</section>
	<section>
		<h2>¿Por qué elegir la plantilla Eminence?</h2>
		<ul>
			<Card
				heading="Inicio Rápido y Fácil"
				content="Incluye una configuración base completa, permitiendo a los desarrolladores centrarse en el código en lugar de en ajustes iniciales. Solo necesitas instalar y empezar a programar."
			/>
			<Card
				heading="Configuración de CSS Flexible"
				content="PostCSS configurado con plugins y estilos base para que puedas personalizar fácilmente el diseño y adaptarlo a las necesidades de tu proyecto de forma consistente."
			/>
			<Card
				heading="Componentes que todas las páginas necesitan"
				content="Incluye SEO y favicon listos para usar, optimizando la visibilidad y personalización de marca desde el inicio."
			/>
			<Card
				heading="Optimización para Cloudflare Pages"
				content="Configuración lista para aprovechar al máximo la infraestructura rápida, barata y escalable de Cloudflare Pages."
			/>
			<Card
				heading="Auto-formato de Código con Prettier"
				content="Prettier configurado para aplicar autoformato en cada commit, asegurando que el código esté siempre limpio y consistente en todo el proyecto."
			/>
		</ul>
	</section>
</Layout>
