<header class="header page-width-padding">
	{/* Consider adding logo for eminence */}
	<nav class="header__nav">
		<ul class="header__nav-ul">
			<li><a href="/">Inicio</a></li>
			<li><a href="/docs/getting-started/">Comenzar Ahora</a></li>
			<li><a href="/contact/">Contacto</a></li>
		</ul>
	</nav>
	{/* If logo added try to add something for simetry like github link and probably an X25 logo */}
</header>

<style>
	.header__nav {
		padding: 16rem 0;
	}
	.header__nav-ul {
		display: flex;
		justify-content: space-evenly;
	}
</style>
