---
interface Props {
	title: string;
	description: string;
}

import "~/styles/global/global.css";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{Astro.props.title}</title>
		<meta name="description" content={Astro.props.description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<main id="MainContent">
			<slot />
		</main>
	</body>
</html>
